{
    "compression": "GZ",
    "algorithm": "SHA512",
    "datetime": "2024-01-30",
    "files": [
    ],
    "main": "src/Demo1/client.php",
    "directories": [
        "src/Demo1",
        "vendor/sskaje/mqtt"
    ],
    "stub": true,
    "output": "client.phar"
}